<h2>Submit a Review</h2>

<form class="background-white p20 add-review" method="post" action="?">
    <div class="row">
        <div class="form-group col-sm-6">
            <label for="">Name <span class="required">*</span></label>
            <input type="text" class="form-control" id="" required>
        </div><!-- /.col-sm-6 -->

        <div class="form-group col-sm-6">
            <label for="">Email <span class="required">*</span></label>
            <input type="email" class="form-control" id="" required>
        </div><!-- /.col-sm-6 -->
    </div><!-- /.row -->
    <div class="row">
        <div class="form-group col-sm-6">
            <label for="">Pros</label>
            <textarea class="form-control" rows="5" id=""></textarea>
        </div><!-- /.col-sm-6 -->
        <div class="form-group col-sm-6">
            <label for="">Cons</label>
            <textarea class="form-control" rows="5" id=""></textarea>
        </div><!-- /.col-sm-6 -->

        <div class="col-sm-8">
            <p>Required fields are marked <span class="required">*</span></p>
        </div><!-- /.col-sm-8 -->
        <div class="col-sm-4">
            <button class="btn btn-primary btn-block" type="submit"><i class="fa fa-star"></i>Submit Review</button>
        </div><!-- /.col-sm-4 -->
    </div><!-- /.row -->
</form>