 <h2>On Est La</h2>
                            <div class="background-white p20">

                                <!-- Nav tabs -->
                                <ul id="listing-detail-location" class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#simple-map-panel" aria-controls="simple-map-panel" role="tab" data-toggle="tab">
                                            <i class="fa fa-map"></i>Map
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#street-view-panel" aria-controls="street-view-panel" role="tab" data-toggle="tab">
                                            <i class="fa fa-street-view"></i>Street View
                                        </a>
                                    </li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade in active" id="simple-map-panel">
                                        <div class="detail-map">
                                            <div class="map-position">
                                                <div id="listing-detail-map"
                                                     data-transparent-marker-image="assets/img/transparent-marker-image.png"
                                                     data-styles='[{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi.government","elementType":"labels.text.fill","stylers":[{"color":"#b43b3b"}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"hue":"#ff0000"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road","elementType":"geometry.fill","stylers":[{"lightness":"8"},{"color":"#bcbec0"}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"color":"#5b5b5b"}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#7cb3c9"},{"visibility":"on"}]},{"featureType":"water","elementType":"geometry.fill","stylers":[{"color":"#abb9c0"}]},{"featureType":"water","elementType":"labels.text","stylers":[{"color":"#fff1f1"},{"visibility":"off"}]}]'
                                                     data-zoom="15"
                                                     data-latitude="40.779995"
                                                     data-longitude="-73.969133"
                                                     data-icon="fa fa-coffee">
                                                </div><!-- /#map-property -->
                                            </div><!-- /.map-property -->
                                        </div><!-- /.detail-map -->
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="street-view-panel">
                                        <div id="listing-detail-street-view"
                                             data-latitude="40.758896"
                                             data-longitude="-73.985135"
                                             data-heading="225"
                                             data-pitch="0"
                                             data-zoom="1">
                                        </div>
                                    </div>
                                </div>
                            </div>