{% extends "frontEnd/frontend-layout.html.twig" %}
{% block title %}BienEtre{% endblock %}
{% block main %}
    <div class="main">
        <div class="main-inner">
            <div class="container">
                <div class="content">

                    <div class="mb80">

                        {%  include ':Partials:hero-slider.html.twig' with { sliders :{1:{name:'sld1',webPath:'img/tmp/slider-1.jpg'}
                            ,2:{name:'sld2',webPath:'img/tmp/slider-2.jpg'},3:{name:'sld3',webPath:'img/tmp/slider-3.jpg'} }} %}

                    </div>

                    {{ render(controller('AppBundle:FrontEnd/Search:searchCategory'))}}


                    <h2 class="page-title">
                        {{ service_categories|length}} resultas trouvé

                        <form method="get" action="?" class="filter-sort">
                            <div class="form-group">
                                <select title="Sort by">
                                    <option name="price">Price</option>
                                    <option name="rating">Rating</option>
                                    <option name="title">Title</option>
                                </select>
                            </div><!-- /.form-group -->

                            <div class="form-group">
                                <select title="Order">
                                    <option name="ASC">Asc</option>
                                    <option name="DESC">Desc</option>
                                </select>
                            </div><!-- /.form-group -->
                        </form>
                    </h2><!-- /.page-title -->

                    <div class="cards-simple-wrapper">
                        <div class="row">
                            {% for category in service_categories%}
                                <div class="col-sm-6 col-md-3">
                                    {% include 'Partials/card-simple-bckground-img.html.twig' with {card_simple:{id:category.id,image:category.images,
                                        rout_detail:'servicecategory_show',title:category.name,name:category.name,rout_bookmark:'servicecategory_show',
                                        rout_serch:'servicecategory_show',rout_favorit:'servicecategory_show'}} %}
                                </div><!-- /.col-* -->
                            {% endfor %}
                        </div><!-- /.row -->
                    </div><!-- /.cards-simple-wrapper -->


                    <div class="pager">
                        {{ knp_pagination_render(service_categories) }}
                    </div><!-- /.pagination -->


                </div><!-- /.content -->
            </div><!-- /.container -->
        </div><!-- /.main-inner -->
    </div><!-- /.main -->
{%endblock%}