{% extends "frontEnd/frontend-layout.html.twig" %}
{%block main %}
    <div class="main">
        <div class="main-inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-lg-9">
                        <div class="content">
                            <div class="page-title">
                                <h1>{% block h1 %}{% endblock %}</h1>
                                <h2>{% block h2%}{% endblock %}</h2>
                            </div><!-- /.page-title -->
                            <div class="posts">
                            {% block posts %}{% endblock %}
                        </div><!-- /.posts -->
                        <div class="pager">{% block pager %}{% endblock %} </div><!-- /.pagination -->
                    </div><!-- /.content -->
                </div><!-- /.col-* -->
                <div class="col-sm-4 col-lg-3">
                    {% block side %}{% endblock %}
                </div><!-- /.col-* -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.main-inner -->
</div><!-- /.main -->
{% endblock %}