{% extends "base.html.twig" %}
{% block header %}
    <div class="page-wrapper">

        <header class="header header-minimal">
            <div class="header-wrapper">
                <div class="container-fluid">
                    <div class="header-inner">
                        <div class="header-logo">
                            <a href="index.html">
                                <img src="assets/img/logo.png" alt="Logo">
                            </a>
                        </div><!-- /.header-logo -->

                        <div class="header-content">
                            <div class="header-bottom">
                                <ul class="header-nav-primary nav nav-pills collapse navbar-collapse">
                                    <li >
                                        <a href="#">Home <i class="fa fa-chevron-down"></i></a>
                                    <li >
                                        <a href="#">Listing <i class="fa fa-chevron-down"></i></a>
                                    </li>

                                    <li class="has-mega-menu ">
                                        <a href="#">Pages <i class="fa fa-chevron-down"></i></a>

                                        <ul class="mega-menu">
                                            <li>
                                                <a href="#">General</a>
                                            </li>
                                            <li>
                                                <a href="#">User Account</a>
                                            </li>


                                            <li class="hidden-xs">
                                                <div class="special">
                                                    <a href="register.html">Sign Up Now</a>
                                                </div><!-- /.special-->
                                            </li>
                                        </ul>
                                    </li>

                                    <li >
                                        <a href="#">Blog <i class="fa fa-chevron-down"></i></a>

                                    </li>

                                    <li class="active">
                                        <a href="#">Admin <i class="fa fa-chevron-down"></i></a>

                                    </li>

                                    <li >
                                        <a href="#">Contact <i class="fa fa-chevron-down"></i></a>

                                    </li>
                                </ul>

                                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".header-nav-primary">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>


                                <div class="header-nav-user">
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <div class="user-image">
                                                <img src="assets/img/tmp/agent-2.jpg">
                                                <div class="notification"></div><!-- /.notification-->
                                            </div><!-- /.user-image -->

                                            <span class="header-nav-user-name">Natasha Samson</span> <i class="fa fa-chevron-down"></i>
                                        </button>

                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                            <li><a href="user-profile-edit.html">Edit Profile</a></li>
                                            <li><a href="listing-submit.html">Submit Listing</a></li>
                                            <li><a href="change-password.html">Change Password</a></li>
                                        </ul>
                                    </div><!-- /.dropdown -->
                                </div><!-- /.header-nav-user -->

                            </div><!-- /.header-bottom -->
                        </div><!-- /.header-content -->
                    </div><!-- /.header-inner -->
                </div><!-- /.container -->
            </div><!-- /.header-wrapper -->

            <div class="header-statusbar">
                <div class="header-statusbar-inner">
                    <div class="header-statusbar-left">
                        <h1>Dashboard</h1>

                        <div class="display-inline-block">
                            <div class="hidden-xs visible-lg">
                                <div class="header-statusbar-search">
                                    <input type="text" class="form-control" placeholder="Search for...">
                                </div><!-- /.header-search -->
                            </div>
                        </div>
                    </div><!-- /.header-statusbar-left -->

                    <div class="header-statusbar-right">
                        <div class="hidden-xs visible-lg">
                            Navigation:
                            <ul class="breadcrumb">
                                <li><a href="#">Superlist</a></li>
                                <li><a href="#">Dashboard</a></li>
                                <li><a href="#">Statistics</a></li>
                            </ul>
                        </div>
                    </div><!-- /.header-statusbar-right -->
                </div><!-- /.header-statusbar-inner -->
            </div><!-- /.header-statusbar -->
        </header><!-- /.header -->


        <div class="main">
            <div class="outer-admin">
                <div class="wrapper-admin">
                    {%include ('BienEtreBundle:Partials:admin-first-sidebar.html.twig')%} 
                    {%block secondSidebar %} {% endblock %}
                    <div class="content-admin">
                        <div class="content-admin-wrapper">
                            <div class="content-admin-main">
                                <div class="content-admin-main-inner">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-sm-12">

                                            {% endblock %}
                                        
                                        {% block footer %}




                                        </div><!-- /.col-* -->
                                    </div>
                                </div><!-- /.container-fluid -->
                            </div><!-- /.content-admin-main-inner -->
                        </div><!-- /.content-admin-main -->


                        <div class="content-admin-footer">
                            <div class="container-fluid">
                                <div class="content-admin-footer-inner">
                                    &copy; 2015 All rights reserved. Created by <a href="#">Aviators</a>.
                                </div><!-- /.content-admin-footer-inner -->
                            </div><!-- /.container-fluid -->
                        </div><!-- /.content-admin-footer  -->
                    </div><!-- /.content-admin-wrapper -->
                </div><!-- /.content-admin -->
            </div><!-- /.wrapper-admin -->
        </div><!-- /.outer-admin -->
    </div><!-- /.main -->
</div><!-- /.page-wrapper -->
{% endblock %}