<div class="sidebar-admin">
    <ul>
        <li class="active"><a href="{{path('admin_list')}}"><i class="fa fa-user"></i></a></li>
        {#<li><a href="#"><i class="fa fa-pencil"></i></a></li>
        <li><a href="#"><i class="fa fa-flag-o"></i></a></li>
        <li><a href="#"><i class="fa fa-folder-o"></i></a></li>
        <li><a href="#"><i class="fa fa-bar-chart"></i></a></li>
        <li><a href="#"><i class="fa fa-cog"></i></a></li>#}
    </ul>
</div><!-- /.sidebar-admin-->

