{% extends 'frontEnd/frontend-layout.html.twig' %}
{% block main %}
    <div class="main">
        <div class="main-inner">
            <div class="content">
                <div class="caution">
                    <h2>verifier votre boite maile activer votre compte via mail d'activation</h2>
                    <a href="" class="btn btn-secondary btn-lg">Renvoyer mail d'activation</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}