{% extends 'frontEnd/frontend-layout.html.twig' %}
{% block main %}
    <div class="main">
    <div class="main-inner">
    <div class="content">
        <div class="caution">
<h2>Votre Mot de Pass a bien été changé</h2>
    <a href="{% if is_granted('ROLE_VISITOR') %}{{ path('profile_visitor_edit') }}{% elseif is_granted('ROLE_PROVIDER') %}
                                            {{ path('profile_provider_edit') }}{% endif %}" class="btn btn-secondary btn-lg">Votre page</a>
        </div>
    </div>
    </div>
    </div>
{% endblock %}