<div class="detail-gallery">
    {% if img.first %}
    <div class="detail-gallery-preview">

        <a href="{{asset(img.first.webPath)}}">
            <img src="{{asset(img.first.webPath)}}">
        </a>
    </div>

    {% if img|length >1 %} 
        <ul class="detail-gallery-index">
            {% for image in img %}

                <li class="detail-gallery-list-item active">
                    <a data-target="{{asset(image.webPath)}}">
                        <img src="{{asset(image.webPath)}}" alt="img.nom">
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif%}
    {% endif %}

</div><!-- /.detail-gallery -->
